<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title Here</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>
    <header>
        <h1>Welcome test!</h1>
    </header>
        <div class="content">
            <p>If you already have an account:</p>
            <a href="{{ url_for('login') }}" class="button">Login</a>
            <p>If you're new here:</p>
            <a href="{{ url_for('register') }}" class="button">Register</a>
        <div class="user-list">
            <h2>Registered Users:</h2>
            <ul>
                {% for username in user_list %}
                    <li>{{ username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
